.principal {
    background-color: lightblue;
}
h2{
    color: rgb(68, 148, 174);
    margin-top: 0%;
    font-family: Segoe UI;
    font-size: 2vw;
    position: absolute;
    left:calc(26.7% + 0px);
    transform: translate(-50%, -50%);
    
}
.dev{
    color: rgb(255, 255, 255);
    margin-left: 17%;
    margin-top: 5%;
    margin-bottom: 0;
    font-family:Impact;
    font-size: 15vw;
    -webkit-text-stroke: 0.2vw rgb(0, 0, 0);
    text-shadow: 0.2vw rgb(0, 0, 0);
}

h1{
    color: rgb(68, 148, 174);
    text-align: right;
    font-family: Segoe UI;
    font-size: 2vw;
    position: absolute;
    top: 102%;
    left:calc(63% + 10px);
    transform: translate(-50%, -50%);
}

.flutuante {
    position: relative;
}

.git{
    position: absolute;
    top: 25%;
    left:calc(50% + 10px);
    transform: translate(-50%, -50%);
}
.git .gicon{
    width: 10vw;
    height:10vw;
}
.git .gicon2{
    width: 10vw;
    height: 10vw;
    display: none;
}
.git:hover .gicon{
    display: none;
}
.git:hover .gicon2{
    display: block;
}

.linkedin{
    position: absolute;
    top: 25%;
    left:calc(62% + 10px);
    transform: translate(-50%, -50%);
}
.linkedin .licon{
    width: 9vw;
    height:9vw;
}
.linkedin .licon2{
    width: 9vw;
    height: 9vw;
    display: none;
}
.linkedin:hover .licon{
    display: none;
}
.linkedin:hover .licon2{
    display: block;
}

.curriculo{
    position: absolute;
    top: 25%;
    left:calc(75% + 10px);
    transform: translate(-50%, -50%);
}
.curriculo .cicon{
    width: 8vw;
    height: 8vw;
}
.curriculo .cicon2{
    width: 8vw;
    height: 8vw;
    display: none;
}
.curriculo:hover .cicon{
    display: none;
}
.curriculo:hover .cicon2{
    display: block;
}
